{{- define "main" }}

{{- if (and .Site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>
{{- end }}
{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}

{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end }}

{{- $paginator := .Paginate $pages }}

{{- if and .IsHome .Site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
{{- partial "home_info.html" . }}
{{- partial "site_sections.html" . }}
{{- end }}

{{- $term := .Data.Term }}
{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}

{{- $user_preferred := or .Site.Params.disableSpecial1stPost .Site.Params.homeInfoParams }}
{{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred)) }}
{{- $class = "first-entry" }}
{{- else if $term }}
{{- $class = "post-entry tag-entry" }}
{{- end }}

<article class="{{ $class }}">
  {{- $isHidden := (.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInList) }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
  <div style="float:left; height:100px">
	<style>
	  .article-thumbnail {
		  min-width: 100px;
		  max-width: 100px;
		  max-height: 100px;
	  }
	</style>
	{{ $featured_image := index (.Resources.ByType "image") 0 }}
	{{ $thumbnail_image := $featured_image.Fit "200x200" }}
	{{ with $featured_image }}
	<a href="{{.RelPermalink}}">
	  <img load="lazy" src="{{ $thumbnail_image.RelPermalink }}" class="article-thumbnail" alt="Cover image from article, alt-text in article" style="margin-right:15px; margin-top:5px">
	</a>
	{{ end }}
  </div>
  <div sytle="float:left;">
	<header class="entry-header">
	  <h2>
		{{- .Title }}
		{{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
	  </h2>
	</header>
	{{- if (ne (.Param "hideSummary") true) }}
	<section class="entry-content">
	  <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
	</section>
	{{- end }}
	{{- if not (.Param "hideMeta") }}
	<footer class="entry-footer" style="float:right">
	  {{- partial "post_meta.html" . -}}
	</footer>
	{{- end }}
	<a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .RelPermalink }}"></a>
  </div>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">« {{ i18n "prev_page" }}</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">{{ i18n "next_page" }} »</a>
    {{- end }}
  </nav>
	<!-- Winter decoration inspired by https://blog.gridranger.dev/ via https://mementomori.social/@david_bardos/115635283055502349-->
	<div id="winterContainer" class="winterContainer" aria-hidden="true"></div>
	<script>
		window.onload = function() {
				const container = document.getElementById('winterContainer');
				const snowflakeCount = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)/5;
				const snowflakeSymbols = ['\u2744', '\u2745', '\u2746', '\u2747', '\u2748', '\u2749', '\u274a', '\u274b']

				for (let i = 0; i < snowflakeCount; i++) {
						const snowflake = document.createElement('div');
						const randomSymbol = snowflakeSymbols[Math.floor(Math.random() * snowflakeSymbols.length)];
						snowflake.className = 'winterSnowflake';
						snowflake.style.left = `${Math.random() * 100}%`;
						snowflake.style.animationDuration = `${10 + Math.random() * 10}s`;
						snowflake.style.animationDelay = `${Math.random() * 10}s`;
						snowflake.style.setProperty('--swirl', `${Math.random() * 20 - 10}vw`);
						snowflake.style.setProperty('--rot', `${Math.random() * 720 + 360}deg`);
						snowflake.textContent = randomSymbol;
						container.appendChild(snowflake);
				}
		}
  </script>
	<style >
		.winterContainer {
				position:fixed;
				top:0;
				left:0;
				width:100vw;
				height:100vh;
				pointer-events:none;
				overflow:hidden;
				z-index:10;
		}
		@keyframes snowfall {
				0% {
						transform: translateY(0) translateX(0) rotate(0deg);
						opacity: 1;
				}
				15% {
						opacity: 0.4;
				}
				100% {
						transform: translateY(100vh) translateX(var(--swirl)) rotate(var(--rot));
						opacity: 0.2;
				}
		}
		.winterSnowflake {
				position: absolute;
				top: 0;
				left: 0;
				font-size: 1rem;
				color: --primary;
				opacity: 0;
				animation: snowfall linear infinite;
				will-change: transform;
		}
	</style>
</footer>
{{- end }}

{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}
