{{ define "main" }}
<header>
    <h1>{{ .Title }}</h1>
    {{.Content}}
</header>
<section>
  <br />
        {{ range .Pages.GroupByDate "Jan 2006" }}
        <h4>{{ .Key }}</h4>
        <ul style="display: flex; flex-wrap:wrap; gap:0.5em;">
            {{ range .Pages }}
            {{ $firstImage := index (.Resources.ByType "image") 0 }}
            {{ $firstImage = $firstImage.Fit "350x250" }}
            <li style="flex-grow:1; list-style-type:none;">
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                    <img loading="lazy" src="{{ $firstImage.RelPermalink }}" alt="{{ .Description }}">
                </a>
            </li>
            {{ end }}
			<li style="flex-grow:10; list-style-type:none;"></li>
        </ul>
        {{ end }}
</section>
<footer></footer>
{{- end }}

{{ define "header" }}
{{- partial "header" . -}}
{{ end }}
