{{ define "main" }}
<style>
  a {
		text-decoration: underline;
	}
  ul {
	  display: flex;
	  flex-wrap:wrap;
	  gap:0.5em;
  }
  li {
	  flex-grow:1;
	  list-style-type:none;
  }
  li.lastChild {
	  flex-grow:10;
  }
  </style>
<header>
    <h1>{{ .Title }}</h1>
    {{.Content}}
</header>
<section>
  <br />
        {{ range .Pages.GroupByDate "Jan 2006" }}
        <h4>{{ .Key }}</h4>
        <ul>
            {{ range .Pages }}
            {{ $firstImage := index (.Resources.ByType "image") 0 }}
            {{ $firstImage = $firstImage.Fit "350x250" }}
            <li>
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                    <img loading="lazy" src="{{ $firstImage.RelPermalink }}" alt="{{ .Description }}">
                </a>
            </li>
            {{ end }}
			<li class="lastChild"></li>
        </ul>
        {{ end }}
</section>
<footer></footer>
{{- end }}

{{ define "header" }}
{{- partial "header" . -}}
{{ end }}
