{{ define "main" }}
<header>
    <h1>{{ .Title }}</h1>
    {{.Content}}
</header>
<section>
        {{ range .Pages.GroupByDate "Jan 2006" }}
        <h4>{{ .Key }}</h4>
        <ul style="display: flex; flex-wrap:wrap; justify-content:space-evenly; gap:0.75em;">
            {{ range .Pages }}
            {{ $firstImage := index (.Resources.ByType "image") 0 }}
            {{ $firstImage = $firstImage.Fit "250x250" }}
            <li style="flex-grow:1; list-style-type:none;">
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                    <img style="object-fit: cover; vertical-align: bottom;" loading="lazy" src="{{ $firstImage.RelPermalink }}" alt="{{ .Description }}">
                </a>
            </li>
            {{ end }}
			<li style="flex-grow:10; list-style-type:none;"></li>
        </ul>
        {{ end }}
</section>
<footer></footer>
{{- end }}

{{ define "header" }}
{{- partial "header" . -}}
{{ end }}
