{{ define "main" }}

<article itemscope itemType="https://schema.org/BlogPosting">
  <header>
	<h4 style="color:gray">{{ .Title }}</h4>
	<section class="meta">
	  {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
	  <span style="color:gray; font-size:0.9em;">posted:  <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></span>
	</section>
  </header>

  <main itemprop="articleBody" class="md">

	{{ with .Resources.ByType "image" }}
	{{ range . }}
	{{ $image := .Fit "1200x1200" }}
	<figure>
	  <a href="{{ .RelPermalink }}">
		<img src="{{ $image.RelPermalink }}" alt="{{ $.Description }}">
	  </a>
	  <figcaption style="font-size:0.8em; color:gray; padding-left:2px; border-left:2px dotted; border-color:gray; line-height:1em;">Alt-text description: {{ $.Description }}</figcaption>
	</figure>
	{{ end }}
  </main>
	<footer class="post-footer">
	  <ul class="post-tags">
		{{- range ($.GetTerms "tags") }}
		<li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
		{{- end }}
	  </ul>
	</footer>
</article>
{{- end }}

{{ end }}
