<article class="post-entry">
  <div>
	<h2>📌 Getting Started Guides</h2>
	<section class="entry-content">
	  <p>Long form guides on esoteric topics like themeing, keyboard mapping, etc.</p>
	</section>
	<a class="entry-link" aria-label="link to getting started guides" href="/start"></a>
  </div>
</article>
<article class="post-entry">
  <div>
	<h2>📷 Film Photography</h2>
	<section class="entry-content">
	  <p>Collection of photos shot with manual film cameras.</p>
	</section>
	<a class="entry-link" aria-label="link to getting started guides" href="/film"></a>
  </div>
</article>
<center><span style="color:#29627e">Recent blog posts</span></center>
<hr style="border-top: 1px dotted #29627e; width:50%;">
